{{!
    @template tool_cmcompetency/coursemodule_navigation

    IDs required for JS:
    * none

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * coursemodules - List of course modules.
    * hascoursemodules - Whether there are course modules.

    Example context (json):
    {
        "coursemodules": [{
            "id": 12
            "selected" : true,
            "name": "course module 1"
        }],
        "hascoursemodules": true
    }

}}
<div class="pull-right border p-2 mb-2">
<form class="coursemodule">
{{#hascoursemodules}}
    <span>
    <label for="cm-nav-{{uniqid}}" class="accesshide">{{#str}}jumptocm, tool_cmcompetency{{/str}}</label>
    <select id="cm-nav-{{uniqid}}">
        {{#coursemodules}}
        <option value="{{id}}" {{#selected}}selected="selected"{{/selected}}>{{name}}</option>
        {{/coursemodules}}
    </select>
    </span>
{{/hascoursemodules}}
</form>
</div>
{{#js}}
require(['core/form-autocomplete', 'tool_cmcompetency/coursemodule_navigation'], function(autocomplete, nav) {
    (new nav('#cm-nav-{{uniqid}}', '{{baseurl}}', {{cmid}}, {{courseid}}));
{{#hascoursemodules}}
    autocomplete.enhance('#cm-nav-{{uniqid}}', false, false, {{# quote }}{{# str }}jumptocm, tool_cmcompetency{{/ str }}{{/ quote }});
{{/hascoursemodules}}
});
{{/js}}
